.cuerpo-profile{
	width: 80%;
	height: 90%;
	margin: 0px auto;
	background: blue;
}

.cabecera{
	background: white;
	border: 2px solid #0081cc;
	border-radius: 10px;
	height: 150px;
	width: 100%;
	box-shadow: 0px 0px 10px 10px rgba(71, 155, 183, 0.6);
}

.ficha{
	display: inline-block;
	margin-top: 2px;
	float:left;
}

.cal{
	color: #0081cc;
	margin-left: 10px;
	float: left;
	margin-top: -22px;
}
