<div class="teachers">
	<h3>Tus Profesores</h3>
	<ul class="teachers-list">
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
		<a href="#"><div class="teacher"><div class="teacher-imagen"></div><li><strong>Profesor 1</strong><br>materia: XXXXXXX</li></div></a>
	</ul>

</div>